
<!DOCTYPE html>
<html lang="en" ng-app="RedditDashApp">
  <head>
    <meta charset="utf-8">
    <title>Reddit Dashboard</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/dashboard.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.11/angular.min.js"></script>
    <script src="https://rawgithub.com/gsklee/ngStorage/master/ngStorage.js"></script>
    <script src="js/app.js"></script>
  </head>

  <body ng-controller="DashCtrl">

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Reddit Dashboard</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Clear</a></li>
          </ul>
          <form class="navbar-form navbar-right" ng-submit="search()">
            <input type="text" class="form-control" ng-model="searchTerm" placeholder="Search...">
          </form>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <h4>History</h4>
          <ul class="nav nav-sidebar">
            <li class="active"><a href="" class="deletex">x</a><a href="" ng-model="searchTerm">{{searchTerm}}</a></li>
            <li ng-repeat="item in history track by $index"><a href="" ng-click="remove($index)" class="deletex">x</a><a href="" ng-click="research(item)">{{item}}</a></li>
<!--             <li><a href="" class="deletex">x</a><a href="">Item 2</a></li>
            <li><a href="" class="deletex">x</a><a href="">Item 3</a></li>
            <li><a href="" class="deletex">x</a><a href="">Item ...etc</a></li> -->
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h2 class="sub-header">Featured Posts</h2>
          <div class="row placeholders" >
            <div class="col-xs-6 col-sm-3 placeholder" ng-repeat="article in articleArray | limitTo:4 track by $index">
              <img src="{{article.data.thumbnail}}" class="img-responsive">
              <h4>{{article.data.title}}</h4>
              <span class="text-muted">{{article.data.author}}</span>
            </div>
          </div>


          <h2 class="sub-header">All Posts</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Score</th>
                  <th>Title</th>
                  <th>Author</th>
                  <th>Comments</th>
                  <th>Link</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="article in articleArray">
                  <td>{{article.data.score}}</td>
                  <td>{{article.data.title}}</td>
                  <td>{{article.data.author}}</td>
                  <td>{{article.data.num_comments}}</td>
                  <td><a href="http://reddit.com{{article.data.permalink}}" target="_blank"><button class="btn btn-primary">View</button></a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
